---
layout: page-landing
title: Úvod
group: Nonavigation
weight: 1
permalink: /

thumbnails:
  - type: img
    name: Best of Best 2013 - Říčany (13.4.2012)
    url: //plus.google.com/photos/104548895488231546703/albums/5870519641693499105
    src: //lh5.googleusercontent.com/-WljgqjKmJYs/UiTtCNnK4XI/AAAAAAAABNY/EaWR-0yJVlQ/w360-h270-p/best-2013.jpg
  - type: img
    name: Vánoční turnaj - Strančice (6.2.2013)
    url: //plus.google.com/photos/104548895488231546703/albums/5846059739332445009
    src: //lh6.googleusercontent.com/-xewwM1SdqpU/USHpXq5OqzI/AAAAAAAAAkM/YH8oy145HHU/w497-h373/photo.jpg
  - type: img
    name: Středočeský pohár - Říčany (3.11.2012)
    url: https://plus.google.com/photos/104548895488231546703/albums/5809820314970098449
    src: /files/img/2012-11-03-stredocesky-pohar.jpg
---
{% include JB/setup %}

<div class="row-fluid">
	<div class="span6">
		<h2>Informace</h2>
		<div class="list lead">
			<ul class="unstyled posts">
				{% assign posts_list = site.posts %}
				{% assign group = 'news' %}
				{% assign limit = 3 %}
				{% include custom/posts_list %}
			</ul>
		</div>
	</div>
	<div class="span6">
		<h2>Kalendář</h2>
		<div class="list lead">
			<ul class="unstyled posts">
				{% assign calendar_list = site.posts %}
				{% assign group = 'calendar' %}
				{% include custom/calendar_list %}
			</ul>
		</div>
	</div>
</div>

<hr class="soften">

<div class="row-fluid training-schedule">
	<div class="span12">
		<h2>Tréninky</h2>
		<div class="row-fluid t">
			<div class="r header">
				<div class="day"></div>
				<div class="day active"><div class="title">úterý</div></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day active"><div class="title">pátek</div></div>
				<div class="day active"><div class="title">sobota</div></div>
				<div class="day"></div>
			</div>
			<div class="r data">
				<div class="well day"><div class="title">pondělí</div></div>
				<div class="well day active">
					<div class="hours">17:30 &mdash; 18:30</div>
					<span>začátečníci</span>
					<hr>
					<div class="hours">18:30 &mdash; 19:30</div>
					<span>pokročilí</span>
					<hr>
					<div class="hours">20:00 &mdash; 21:00</div>
					<span><a href="https://www.facebook.com/crossfight.cz" title="Cross Fight">Cross Fight</a></span>
				</div>
				<div class="well day"><div class="title">středa</div></div>
				<div class="well day"><div class="title">čtvrtek</div></div>
				<div class="well day active">
					<div class="hours">18:00 &mdash; 19:00</div>
					<span>začátečníci</span>
					<hr>
					<div class="hours">19:00 &mdash; 20:00</div>
					<span>pokročilí</span>
				</div>
				<div class="well day active">
					<div class="hours">09:00 &mdash; 12:00</div>
					<span><a href="http://hosinsul.wz.cz/" title="sebeobrana pro ženy">sebeobrana pro ženy</a></span>
				</div>
				<div class="well day"><div class="title">neděle</div></div>
			</div>
		</div>
	</div>
</div>

{% if page.thumbnails.size > 0 %}
	<hr class="soften">
	<h2>Foto &amp; video</h2>
	{% comment %}<!--<p class="lead"></p>-->{% endcomment %}
	<ul class="thumbnails">
	{% for item in page.thumbnails %}
		{% if forloop.first or true %}
		<li class="span4">
		  <a class="thumbnail" href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% if item.name %}{{ item.name }}{% endif %}">
		    <img alt="{% if item.name %}{{ item.name }}{% endif %}" src="{% if item.src %}{{ item.src }}{%else%}http://placehold.it/360x270{% endif %}">
		  </a>
		</li>
		{% else %}
		<li class="span4">
		  <a class="thumbnail" href="{% if item.url %}{{ item.url }}{%else%}#{% endif %}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% if item.name %}{{ item.name }}{% endif %}">
		    <img alt="{% if item.name %}{{ item.name }}{% endif %}" src="{% if item.src %}{{ item.src }}{%else%}http://placehold.it/360x120{% endif %}">
		  </a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}

	<hr class="soften">
	
	<div class="row-fluid sponsors">
		<div class="span4">
			<h2>Podporují nás</h2>
			<ul class="thumbnails">
				<!--
				<li class="span3">
					<a href="http://www.seat.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Seat">
						<img src="http://www.seat.cz/images/my12/seat-logo-2012.png" alt="Seat ČR logo">
					</a>
				</li>
				-->
				<li class="span6">
					<a href="http://porta.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Porta">
						<img src="http://www.porta.cz/images/promo/logo.png" alt="Porta logo">
					</a>
				</li>
			</ul>
		</div>
		<div class="span8">
			<h2>Nabízíme dále</h2>
			<ul class="thumbnails">
				<li class="span6">
					<a href="http://hosinsul.wz.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Kurz sebeobrany">
						<img src="/assets/themes/twitter/img/sebeobrana.png" alt="Sebeobrana logo a informace">
					</a>
				</li>
				<li class="span4">
					<a href="https://www.facebook.com/crossfight.cz" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Cross Fight">
						<img src="/files/img/cross-fight.jpg" alt="Cross Fight logo" style="max-height:150px;">
					</a>
				</li>
			</ul>
		</div>
	</div>
