---
layout: page-landing
title: Úvod
group: Nonavigation
weight: 1
permalink: /

thumbnails:
  - type: img
    name: Petra, zkoušky, 3. Dan (2017)
    url: https://www.facebook.com/jaroslav.urbanek/posts/10215045952006403
    src: /files/img/petra-jedut-3-dan-2017.JPG
  - type: img
    name: KOSA CUP 2017
    url: https://www.facebook.com/josef.kubat.71/posts/1456534907757929
    src: /files/img/22289766_1456534874424599_2290340370719139910_o.jpg
  - type: img
    name: Národní seminář v Říčanech - GrandMaster Paul Weiler, IX°degree (Germany)
    url: https://www.facebook.com/media/set/?set=a.1656842144327542.1073741842.203150823030022&type=3
    src: /files/img/21761412_1656842467660843_4433505241499628329_n.jpg
  - type: img
    name: 2017 European Cup (Lublin, Poland)
    url: https://photos.app.goo.gl/3fNyfG4EiEDxcQht2
    src: /files/img/19144149_1558369104174847_668645667197762048_o.jpg
---

{% comment %}<!--
  - type: img
    name: Zimní víkendové soustředění (Borotín)
    url: https://goo.gl/photos/PGN57vd9qYWLzrQi9
    src: https://lh4.googleusercontent.com/dvfwBkiwlU4ayw4UiGG7bTLsGmrHXIHxprR45RwHCdOhOzWTRwuJzqBK9UKAY4Lb8EcrRJZqSLtpkYo=w1920-h1031-rw
-->{% endcomment %}

{% include JB/setup %}

<div class="row-fluid">
	<div class="span6">
		<h2>Informace</h2>
		<div class="list lead">
			<ul class="unstyled posts">
				{% assign posts_list = site.posts %}
				{% assign group = 'news' %}
				{% assign limit = 5 %}
				{% include custom/posts_list %}
			</ul>
		</div>
	</div>
	<div class="span6">
		<h2>Kalendář</h2>
		<div class="list lead">
			<ul class="unstyled posts">
				{% assign calendar_list = site.posts %}
				{% assign group = 'calendar' %}
				{% include custom/calendar_list %}
			</ul>
		</div>
	</div>
</div>

<hr class="soften">

<div class="row-fluid training-schedule">
	<div class="span12">
		<h2>Tréninky</h2>
		<div class="row-fluid t">
			<div class="r header">
				<div class="day"></div>
				<div class="day active"><div class="title">úterý</div></div>
				<div class="day"></div>
				<div class="day"></div>
				<div class="day active"><div class="title">pátek</div></div>
				<div class="day active"><div class="title">sobota</div></div>
				<div class="day"></div>
			</div>
			<div class="r data">
				<div class="well day"><div class="title">pondělí</div></div>
				<div class="well day active">
					<div class="hours">15:00 &mdash; 16:00</div>
					<span>Taekwon-Do ve Světicích (ZŠ Světice)</span>
					<hr>
					<div class="hours">17:30 &mdash; 18:30</div>
					<span>začátečníci</span>
					<hr>
					<div class="hours">18:30 &mdash; 19:30</div>
					<span>pokročilí</span>
					<hr>
					<div class="hours">20:00 &mdash; 21:00</div>
					<span><a href="https://www.facebook.com/crossfight.cz" title="Cross Fight">Cross Fight</a></span>
				</div>
				<div class="well day"><div class="title">středa</div></div>
				<div class="well day"><div class="title">čtvrtek</div></div>
				<div class="well day active">
					<div class="hours">18:00 &mdash; 19:00</div>
					<span>začátečníci</span>
					<hr>
					<div class="hours">19:00 &mdash; 20:00</div>
					<span>pokročilí</span>
				</div>
				<div class="well day active">
					<div class="hours">08:00 &mdash; 12:00</div>
					<span>závodní&nbsp;trénink/<a href="http://hosinsul.wz.cz/" title="sebeobrana pro ženy">sebeobrana</a></span>
				</div>
				<div class="well day"><div class="title">neděle</div></div>
			</div>
		</div>
	</div>
</div>

{% comment %}<!--
<iframe src="https://drive.google.com/file/d/0B3nVMASu8XeFdjhQbW9zWkxiWW8/preview" width="480" height="480" style="border:0;" allowfullscreen></iframe>
-->{% endcomment %}

{% if page.thumbnails.size > 0 %}
	<hr class="soften">
	<h2>Foto &amp; video</h2>
	{% comment %}<!--<p class="lead"></p>-->{% endcomment %}

	<ul class="thumbnails">
	{% for item in page.thumbnails %}
		{% if forloop.first or true %}
		<li class="span6">
		  <a class="thumbnail" href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% if item.name %}{{ item.name }}{% endif %}">
		    <img alt="{% if item.name %}{{ item.name }}{% endif %}" src="{% if item.src %}{{ item.src }}{%else%}http://placehold.it/360x270{% endif %}">
		  </a>
		</li>
		{% else %}
		<li class="span6">
		  <a class="thumbnail" href="{% if item.url %}{{ item.url }}{%else%}#{% endif %}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% if item.name %}{{ item.name }}{% endif %}">
		    <img alt="{% if item.name %}{{ item.name }}{% endif %}" src="{% if item.src %}{{ item.src }}{%else%}http://placehold.it/360x120{% endif %}">
		  </a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
{% endif %}

	<hr class="soften">
	
	<div class="row-fluid sponsors">
		<div class="span5">
			<h2>Podporují nás</h2>
			<ul class="thumbnails">
				<li class="span4">
					<a href="http://www.porta.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Porta">
						<img src="/files/img/porta-logo.png" alt="Porta logo">
					</a>
				</li>
				<li class="span4">
					<a href="http://www.mrojko.com/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="ROJKO - realizace staveb">
						<img src="/files/img/rojko-logo-2014.png" alt="[ROJKO, realizace staveb, logo]" style="max-height:90px;">
					</a>
				</li>
				<li class="span4">
					<a href="http://sokol-strancice.webnode.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="TJ Sokol Strančice">
						<img src="/files/img/sokol_logo_3-C.jpg" alt="[TJ Sokol Strančice, logo]" style="max-height:90px;">
					</a>
				</li>
			</ul>
		</div>
		<div class="span6 offset1">
			<h2>Nabízíme dále</h2>
			<ul class="thumbnails">
				<li class="span8">
					<a href="http://hosinsul.wz.cz/" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Kurz sebeobrany">
						<img src="/assets/themes/twitter/img/sebeobrana.png" alt="Sebeobrana logo a informace">
					</a>
				</li>
				<li class="span4">
					<a href="https://www.facebook.com/crossfight.cz" class="thumbnail" data-toggle="tooltip" data-placement="top" title="Cross Fight">
						<img src="/files/img/cross-fight.jpg" alt="Cross Fight logo" style="max-height:150px;">
					</a>
				</li>
			</ul>
		</div>
	</div>
