<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Styles -->
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/css/main.css?body=1" rel="stylesheet" media="all">

	<!--[if lt IE 8]>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

	<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
					<div class="container">
							<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</button>
							<a class="brand tkd logo" href="{{ HOME_PATH }}">{{ site.title }} <small>{{ site.tagline }}</small></a>
							<div class="nav-collapse collapse">
									<ul class="nav nav-pills">
										{% assign pages_list = site.pages %}
										{% assign group = 'navigation' %}
										{% include JB/pages_list %}
									</ul>
							</div>
					</div>
			</div>
	</div>

	{{ content }}

	<footer class="footer">
	    <div class="container">
	        <p class="pull-right"><a href="#">Zpět na začátek</a></p>
	        <p>&copy; {{ site.title }} 2012</p>
	        <ul class="footer-links">
	            <li><a href="http://www.taekwondounie.estranky.cz/" title="České národní unie Taekwon-Do ITF">ČNUT</a></li>
	            <li><a href="http://www.itfeurope.org/" title="All Europe Taekwon-do Federation">AETF</a></li>
	            <li><a href="http://tkd-itf.org/" title="International Taekwon-Do Federation">ITF</a></li>
	        </ul>
	    </div>
	</footer>

	{% include JB/analytics %}
</body>
</html>
