<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
	<link href="/assets/themes/twitter/css/main.css?body=1" rel="stylesheet" media="all">

	<!--[if lt IE 8]>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" rel="stylesheet">
	<![endif]-->

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="google-site-verification" content="9AW23B7o3Y_yYhfbYbrmtf_M93Ks_W8MhJjsy82W6mw" />
</head>
<body data-spy="scroll" data-target=".ts-sidenav">
	<div id="wrap">
		<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
						<div class="container">
								<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<a class="brand tkd logo" href="{{ HOME_PATH }}">{{ site.title }} <small>{{ site.tagline }}</small></a>
								<div class="nav-collapse collapse">
										<ul class="nav nav-pills">
											{% assign pages_list = site.pages %}
											{% assign group = 'navigation' %}
											{% include JB/pages_list %}
										</ul>
										<ul>

								</div>
						</div>
				</div>
		</div>

		<div id="content">
			{{ content }}
		</div>

		<div id="push"></div>
	</div>
	<footer class="footer">
	    <div class="container">
	        <p class="pull-right"><a href="#">Zpět na začátek</a></p>
	        <p>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</p>
	        <ul class="footer-links">
	            <li><a href="http://www.taekwondocz.com/" title="České národní unie Taekwon-Do ITF">ČNUT</a></li>
	            <li><a href="http://www.itfeurope.org/" title="All Europe Taekwon-do Federation">AETF</a></li>
	            <li><a href="http://tkd-itf.org/" title="International Taekwon-Do Federation">ITF</a></li>
		    <li><a href="http://www.sokol.eu/" title="Česká obec sokolská (Sokol)">Česká obec sokolská (Sokol)</a></li>
	        </ul>
	    </div>
	</footer>

	{% include JB/analytics %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/main.js"></script>
</body>
</html>
