<section class="main-info">
  <div class="container">
	{% for post in site.categories.promo %}
  	<figure>
	  <figcaption>{{ post.title }}</figcaption>
	  <p class="lead"><span>{{ post.tagline }}</span></p>
	</figure>
	{% endfor %}
  </div>
</section>

<section class="info">
	<div class="container">
		
		<div class="fb-like" data-href="https://www.facebook.com/taekwondo.strancice/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone"></div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
		    po.src = "https://apis.google.com/js/plusone.js?publisherid=104548895488231546703";
		    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</div>
</section>

<div class="container landing-page">

	<div class="content">
		<div class="row">
		  <div class="span12">
		    {{ content }}
		  </div>
		</div>
	</div>

</div> <!-- /container -->
