<div class="container">
	<div class="row">
	{% assign menu = page.menu %}
	{% if menu != nil %}
		{% assign isArrayMenu = menu.first.href | size %}
		<div class="span3">
			<ul class="nav nav-list ts-sidenav affix-top">
				{% if isArrayMenu == 0 %}
					{% assign pages_list = site.pages %}
					{% include custom/pages_left_menu %}
				{% else %}
					{% comment %}<!--
					{% assign category = page.url | split:'/' %}
					{% if category contains menu %}
						<li class="active"><a href="{{ BASE_PATH }}{{page.url}}#{{category.last}}"><i class="icon-chevron-right"></i> {{page.title}}</a></li>
					{% else %}
						<li><a href="{{ BASE_PATH }}{{page.url}}#{{category.last}}"><i class="icon-chevron-right"></i> {{page.title}}</a></li>
					{% endif %}
					-->{% endcomment %}
					{% for menuItem in menu %}
						{% if menuItem.name != null %}
							<li><a href="{{ BASE_PATH }}{{page.url}}{{menuItem.href}}"><i class="icon-chevron-right"></i> {{menuItem.name}}</a></li>
						{% endif %}
					{% endfor %}
					{% assign menuItem = nil %}
					{% assign category = nil %}
				{% endif %}
			</ul>
		</div>
		<div class="span9 page">
			<div class="page-header">
				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>	  	
			{{ content }}
		</div>		
	{% else %}
		<div class="span12 page">
			<div class="page-header">
				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>	  	
			{{ content }}
		</div>
	{% endif %}
	{% assign isArrayMenu = nil %}
	{% assign menu = nil %}
	</div>
</div>
