<div class="container">
	<div class="row">
	{% if page.menu != null %}
		<div class="span3">
			<ul class="nav nav-list ts-sidenav affix-top">
				{% if page.menu.first == null %}
					{% assign pages_list = site.pages %}
					{% include custom/pages_left_menu %}
				{% else %}
					{% assign firstMenuItemByPage = page.url | split:'/' %}
					<li class="active"><a href="{{ BASE_PATH }}{{page.url}}#{{firstMenuItemByPage.last}}"><i class="icon-chevron-right"></i> {{page.title}}</a></li>
					{% for menuItem in page.menu %}
						{% if menuItem.name != null %}
							<li><a href="{{ BASE_PATH }}{{page.url}}{{menuItem.href}}"><i class="icon-chevron-right"></i> {{menuItem.name}}</a></li>
						{% endif %}
					{% endfor %}
					{% assign firstMenuItemByPage = nil %}
				{% endif %}
			</ul>
		</div>
		<div class="span9 page">
			<div class="page-header">
				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>	  	
			{{ content }}
		</div>		
	{% else %}
		<div class="span12 page">
			<div class="page-header">
				<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>	  	
			{{ content }}
		</div>
	{% endif %}
	</div>
</div>
