<section class="main-info">
  <div class="container">
	{% for post in site.categories.promo %}
  	<figure>
	  <figcaption>{{ post.title }}</figcaption>
	  <p class="lead"><span>{{ post.tagline }}</span></p>
	</figure>
	{% endfor %}
  </div>
</section>

<section class="info">
	<div class="container">
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone"></div>

		<!-- Place this tag after the last +1 button tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
		    po.src = "https://apis.google.com/js/plusone.js?publisherid=104548895488231546703";
		    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		
		<a href="https://twitter.com/TKDStrancice" class="twitter-follow-button" data-show-count="false" data-lang="cs">Sledovat @TKDStrancice</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% comment %}<!--
		<a class="twitter-timeline" href="https://twitter.com/TKDStrancice" data-widget-id="303443686002397184">Tweets by @TKDStrancice</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script type="text/javascript"> 
			/*
			new TWTR.Widget({
				version: 2,
				type: 'profile',
				rpp: 4,
				interval: 30000,
				title: 'Rychlé zprávy',
				subject: 'Google+, Twitter, Facebook',
				width: 250,
				height: 300,
				theme: {
					shell: {
						background: '#8ec1da',
						color: '#ffffff'
					},
					tweets: {
						background: '#ffffff',
						color: '#444444',
						links: '#1985b5'
					}
				},
				features: {
					scrollbar: false,
					loop: false,
					live: false,
					behavior: 'all'
				}
			}).render().setUser('TKDStrancice').start();

			// 2
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 250,
			  height: 300,
			  theme: {
			    shell: {
			      background: '#f7f7f7',
			      color: '#3584d8'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#707070',
			      links: '#5ac01f'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('twitter').start();
			*/
		</script>


<script type="text/javascript" src="http://sendgrid.com/newsletter/getSubscriptionWidget?p=D2lFJk%2FtG3QJdlkGYe7M5fw44e3v%2BMZt9JXDalJMt8BMDaVlrxmtQZT3UyaxiT4ZI1OtSAUJQFw9xeYutYZbOQ%3D%3D"> </script>
-->{% endcomment %}
	</div>
</section>

<div class="container landing-page">

	<div class="content">
		<div class="row">
		  <div class="span12">
		    {{ content }}
		  </div>
		</div>
	</div>

</div> <!-- /container -->