<section class="main-info">
  <div class="container">
  	<figure>
	  <figcaption>Nábor</figcaption>
	  <p class="lead">Protáhněte se, naučte se ovládat své tělo a bránit se</p>
	<figure>
  </div>
</section>

<section class="info">
	<div class="container">
		Probíhá nábor nových členů &mdash; uterý od 17:30 hodin a pátek od 18 hodin
	</div>
</section>

<div class="container">

	<div class="content">
		<div class="row-fluid">
		  <div class="span12">
		    {{ content }}
		  </div>
		</div>
	</div>

</div> <!-- /container -->